@import "react-alice-carousel/lib/alice-carousel.css";

.body {
  background-color: black;
}
.head {
  height: 75vh;

  /* opacity: 0.75; */
}

a {
  text-decoration: none !important;
}
a:hover {
  color: grey !important;
}

.footer {
  margin-top: 15% !important;
}
.coinImagee {
  height: 120px !important;
  width: 120px !important;
}
body {
  background: #121212;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

p {
  margin: 0 0 13px 0;
  color: rgb(168, 158, 158);
}

a {
  color: #fff;
  text-decoration: none!important;
  
}
a:hover {
  color: gold;
}
.hell:hover {
  color: gold!important;
}
.coin-detail {
  border-right: 2px solid white;
}

.form-control {
  border: 1px solid #121212 !important ;
}
.input-group-text {
  border: 1px solid #121212 !important ;
}

.episode__content {
  border-top: 2px solid rgb(116, 109, 109);
}
.font {
  width: 50px;
}

/* //Carousel */

.carousel-img {
  height: 100px;
  width: auto;
  align-items: center;
}

.carousel-container {
  margin-top: 175px;
  color: white !important;
}

.navbar {
  /* background: grey; */
  background: rgba(255, 255, 255, 0);
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.9px);
}
.test {
  /* background: grey; */
  background: rgba(255, 255, 255, 0);
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.9px);
}
.buttonnnn{
  background: rgba(255, 255, 255, 0.121);
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10.9px);

}
.nav-button:hover {
  border-bottom: 3px solid gold !important;
}